@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s, transform 0.3s;
}

.link-icon:hover {
  cursor: pointer;
  background-color: #d8d8d8;
  transform: scale(1.2);
}

.link img {
  width: 3rem;
  height: 3rem;
}
