* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.3rem;
  min-height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.avatar {
  border-radius: 50%;
  height: 20rem;
}

p {
  color: #606060;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s, transform 0.3s;
}

.link-icon:hover {
  cursor: pointer;
  background-color: #d8d8d8;
  transform: scale(1.2);
}

.link img {
  width: 3rem;
  height: 3rem;
}
