<main
  *ngIf="profile"
>
  <img class="avatar"
    [src]="profile.avatarUrl"
    alt="Avatar"
  />
  <div class="content">
    <h1>{{ profile.name ?? 'Loading...' }}</h1>
    <p>{{ profile.githubAccount ?? 'Loading...' }}</p>
    <p>{{ profile.role ?? 'Loading...' }}</p>
    <div class="link-icons-container">
      <div
        *ngFor="let link of profile.socialLinks"
        class="link-icon"
        (click)="handleNavigate(link.type)"
      >
        <img [src]="link.iconUrl" [alt]="link.type" />
      </div>
    </div>
  </div>
</main>
