<div class="flex justify-center items-center gap-6 bg-[#f1f1f1] min-h-[100vh]">
  <img
    class="h-[20rem] w-[20rem] rounded-full"
    src="/assets/avatar.jpeg"
    alt="Avatar"
  />
  <div class="flex flex-col gap-4">
    <h1 class="text-2xl">Luu Cao Hoang</h1>
    <p class="text-[#606060]">GitHub account is lcaohoanq</p>
    <p class="text-[#606060]">Fullstack Web Developer</p>
    <div class="flex gap-2">
      <div
        (click)="handleNavigate('github')"
        class="link-icon flex justify-center items-center w-12 h-12 rounded-full bg-transparent transition-transform duration-300 hover:cursor-pointer hover:bg-[#d8d8d8] hover:scale-110"
      >
        <img class="w-12 h-12" src="/assets/github.png" alt="Github" />
      </div>
      <div
        (click)="handleNavigate('ig')"
        class="link-icon flex justify-center items-center w-12 h-12 rounded-full bg-transparent transition-transform duration-300 hover:cursor-pointer hover:bg-[#d8d8d8] hover:scale-110"
      >
        <img class="w-12 h-12" src="/assets/ig.png" alt="Instagram" />
      </div>
    </div>
  </div>
</div>
