doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Luu Cao Hoang (lcaohoanq)
    link(rel="stylesheet" href="./style.css")
    link(rel="icon" href="./assets/images/dev.png")
    script(src="./main.js" defer)

  body
    img.avatar(src="/assets/images/avatar.jpeg" alt="Avatar")
    .content
      h1 Luu Cao Hoang
      p GitHub account is lcaohoanq
      p Fullstack Web Developer
    .link
      .link-icon
        img(src="../assets/images/github.png" alt="Github")
